/**
 * Main menu icons.
 */
.toolbar-icon-system-kaltura-video:before {
  background-image: url(../images/icons/toolbar.svg);
}
.toolbar-icon-system-kaltura-video:active:before,
.toolbar-icon-system-kaltura-video.is-active:before {
  background-image: url(../images/icons/toolbar.svg);
}
