{#
/**
 * @file kaltura_video.html.twig
 * Default theme implementation to present Kaltura Video data.
 *
 * This template is used when viewing Kaltura Video pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kaltura_video()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('kaltura_video') }}>
  {% if content %}
    {# Create video player  #}
    {% set entry_id = content.field_kaltura_video_id.0 %}
    {% if entry_id %}
      <script src="https://cdnapisec.kaltura.com/p/2953581/sp/295358100/embedIframeJs/uiconf_id/46093921/partner_id/2953581"></script>
      <div id="kaltura_player_1596108839" style="width: 560px; height: 395px;"></div>
      <script>
        kWidget.embed({
          "targetId": "kaltura_player_1596108839",
          "wid": "_2953581",
          "uiconf_id": 46093921,
          "flashvars": {},
          "cache_st": 1596108839,
          "entry_id": "{{ entry_id }}"
        });
      </script>
    {% endif %}
    {# Create video player  #}
    {{- content -}}
  {% endif %}
</div>
